<div class="container">
  
    <div class="col-md-8 blog-index">
      <h3> <%= @blogs.count %> の看護が投稿されています</h3>
      <ol class="blog">
        <%= render @blogs %>
      </ol>
      <%= will_paginate @blogs %>
  </div>
</div>