<% if object.errors.any? %>
  <div id="error_explanation">
    <% object.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <ul style="list-style: none;">
          <li><%= msg %></li>
        </ul>
      </div>
    <% end %>

  </div>
<% end %>