@import "bootstrap-sprockets";
@import "bootstrap";
// @import 'font-awesome-sprockets';
// @import "font-awesome"
@import '@fortawesome/fontawesome-free/scss/fontawesome';

$color-pink: #f7c3bf;
$color-blue: #8ac8cf;
$color-yellow:#f8b500;
$baseColor:#efebe0;

.btn-pink{
  background:$color-pink;
  color:#fff;
  &:hover{
    background:#f59890;
    color:#fff;
  }
}

.btn-blue{
  background:$color-blue;
  color:#fff;
  &:hover{
    background:#5291c4;
    color:#fff;
  }
}

.btn-yellow{
  background:$color-yellow;
  color:#fff;
  &:hover{
    background:#f8c845;
    color:#fff;
  }
}

.rwd-off{
  display: none;
}




header{

  .nav-menu{
    // display:flex;
    align-items: center;
    text-align: center;
    // justify-content:space-between;
  }

      .logo-title{
      padding: 10px;
      display:flex;
      justify-content: center;
      img{
        width: 80px;
      }
      h1{
        margin-left: 10px;
        // font-family: 'Poppins', sans-serif;
      }
    }
  
  ul{
    margin-top: 10px;
    margin-left: auto;
    display:flex;
    justify-content: center;
    padding-left: 0px;
    li{
      list-style: none;
      margin-left: 20px;
    }
  }
  
  .login_user_menu{
    margin-left: auto;

    p{
      font-weight: bold;
      margin: 0 10px 0 10px;
    }

    a{
      color: #666;
      justify-content: space-between;
    }
  }
  
}

.toppng{
  margin-bottom: 80px;
}

h2{
  text-align: center;
  font-size: 20px;
}

.top{
  margin-bottom: 30px;
}

section{
  letter-spacing: .1em;
  padding: 20px;
  line-height: 20px;
  &:nth-of-type(2){
    background:$baseColor;
    padding: 80px 30px 80px;
  }
  
}

.img-center{
  text-align: center;
}

.blogs{
  // display:flex;
  img{
    text-align: center;
  }
  justify-content:space-evenly;
  .Explanation{
    margin: 10px 10%; 
    p:first-child{
      text-align: center; 
      font-size: 1.2em;
      margin-bottom: 30px;
    }
    .btn{
      display: block;
      margin-top: 30px;
    }
  }
}

.skill{
  .Explanation{
    margin: 10px 10%; 
    p:first-child{
      text-align: center; 
      font-size: 1.2em;
      margin-bottom: 30px;
    }
    .btn{
      display: block;
      margin-top: 30px;
    }
  }
}


.introduction{
  text-align: center;
  h2{
    margin-bottom: 30px;
  }
  
  p{
    margin-bottom: 20px;
  }
  .btn{
    width:300px;
    margin-top: 30px;
  }    
  
}

  
#my-info{
  border: 1px solid $baseColor;
  border-radius: 10px;
  padding: 30px;
  justify-content: space-around;
  align-items: center;
  .img-name{
    text-align: center;


    p{
      margin-top: 20px;
      font-size: 20px;
      a{
        color: #666;
      }
    }
  }

  .my-action{
    margin-top: 30px;
    div{
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;

      a{
        color: #fff;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }

    .my-status{
      padding: 0;
      margin: 0 0 15px;
      p:last-child{
        margin-left: auto;
      }
      a{
        color: #666;
      }
    }

    
    
    
    .my-page{
      background-color: $color-pink;
    }
    
    .my-game{
      background-color: $color-blue;
    }
    
    .new-blog{
      background-color: $color-yellow;
    }
    
  }
}

footer{
  margin-top: 50px;
  background:$baseColor;
  padding: 40px 0px 30px;

  .footer-contents{
    margin-bottom: 50px;
  }
  
  .logo-title{
    margin-bottom: 30px;
    display: inline-flex;
  }
  
  .footerLeft{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .footerCenter, .footerRight{
    margin: 30px;

    p{
      margin-bottom:10px;
      font-weight: bold;
    }

    
  }
  
  .copylight{
    margin-top: 30px;
    text-align: center;
    color:#666;
    font-size: 12px;
  }
}



.field{
  text-align: center;
  label{
    width: 160px;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
  }
  
  .form-control{
    width: 300px;
    margin: 0px auto 20px;
  }
  
  .form-control-comment{
    margin-bottom: 10px;
  }
}


.boxcheck{
  display: flex;
  justify-content: center;

  .accepted , .remember_me{
    color: #666;
    font-size: 12px;
  }
  
  .remember_me{
    margin-left: 20px;
    text-align: initial;
  }
  
  #user_remember_me{
    margin: 10px 0px 0px;
  }
}


// 記事投稿のcss

.users-blog{
  margin-top: 50px;
  a{
    color: #666;
  }

  .flex{
    align-items: baseline;
  }

  .blog-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .content{
    margin-bottom: 30px;  
  }

  .brog-create{
    float:right;
  }

  .user{
    margin-right: 20px;
  }
  .small-avatar{
    border: solid 1px $baseColor;
    margin-right: 10px;
    border-radius: 50%;
    
    img{
      border-radius: 50%;
      width: 35px;
      height: 35px;
    }
  }

  .timestamp{
    margin-top: 10px;
    font-size: 12px;
  }
}

.comment{
  text-align:center;
  margin-bottom: 20px;
}



.admin-delete-link{
  margin-left: auto;
}



trix-editor{
  min-height: 40em;
  max-height: 40em;
  overflow: auto;

}

.trix-content {

  a{
    color:#8ac8cf !important;
  }
  
  .blog-create{
    margin-bottom: 30px;
  }

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0;
      max-width: 100%;
    }
  }
}




@media(min-width: 768px){

  .rwd-off{
    display: initial;
  }
  .rwd-on{
    display: none;
  }

  .logo-title{
    display:flex;
    img{
      width: 80px;
    }

    h1{
      margin-left: 10px;
      font-size: 36px;
      // font-family: 'Poppins', sans-serif;
    }
  }


  header{
    .nav-menu{
      display:flex;
      align-items: center;
      // justify-content:space-between;
    }
    
    ul{
      margin-left: auto;
      display:flex;
      li{
        list-style: none;
        margin-left: 20px;
      }
    }
    
    .login_user_menu{
      margin-left: auto;
      a{
        color: #666;
        margin-left: 10px;
      }
    }
    
  }

  body{
    .toppng{
      margin-bottom: 80px;
    }
    
    h2{
      text-align: center;
      font-size: 30px;
    }
    
    .top{
      margin-bottom: 30px;
    }
    
    section{
      padding: 60px 30px 60px;
      line-height: 20px;
      &:nth-of-type(2){
        background:$baseColor;
        padding: 80px 30px 80px;
      }
      
    }
    
    
    .blogs{
      display:flex;
      justify-content:space-evenly;
      .Explanation{
        p:first-child{
          text-align: center; 
          font-size: 1.5em;
          margin-bottom: 30px;
        }
        .btn{
          display: block;
          margin-top: 30px;
        }
      }
    }
    
    .skill{
      display:flex;
      flex-direction: row-reverse;
      justify-content:space-evenly;
      .Explanation{
        p:first-child{
          text-align: center; 
          font-size: 1.5em;
          margin-bottom: 30px;
        }
        .btn{
          display: block;
          margin-top: 30px;
        }
      }
    }
    
    
    .introduction{
      text-align: center;
      h2{
        margin-bottom: 30px;
      }
      
      p{
        margin-bottom: 20px;
      }
      .btn{
        width:300px;
        margin-top: 30px;
      }    
      
    }
    
    
  }

  #my-info{
    border: 1px solid $baseColor;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img-name{
      text-align: center;
  
  
      p{
        margin-top: 20px;
        font-size: 20px;
        a{
          color: #666;
        }
      }
    }
  
    .my-action{
      display: inline;
      margin-top: 0;
      div{
        padding: 10px;
        width: 200px;
        margin-bottom: 20px;
        border-radius: 5px;
  
        a{
          color: #fff;
          display: block;
          text-align: center;
          text-decoration: none;
        }
      }
  
      .my-status{
        padding: 0;
        margin: 0 0 15px;
        p:last-child{
          margin-left: auto;
        }
        a{
          color: #666;
        }
      }
  
      
      
      
      .my-page{
        background-color: $color-pink;
      }
      
      .my-game{
        background-color: $color-blue;
      }
      
      .new-blog{
        background-color: $color-yellow;
      }
      
    }
  }


  footer{
  
    margin-top: 100px;
    
    background:$baseColor;
    padding: 40px 0px 30px;
    .footer-contents{
      display:flex;
      justify-content:space-evenly;
      margin-bottom: 90px;
    }
    
    .logo-title{
      margin-bottom: 30px;
    }
    
    .footerLeft{
      img{
        
      }
    }
    
    .footerCenter, .footerRight{
      margin: 0;
      p{
        text-align: center;
        margin-bottom:20px;
      }
    }
    
    .copylight{
      margin-top: 30px;
      text-align: center;
      color:#666;
    }
  }



  .field{
    justify-content:center;
    display:flex;
    label{
      width: 160px;
      height: 34px;
      font-size: 16px;
      text-align: end;
      line-height: 34px;
    }
    
    .form-control{
      width: 400px;
      margin: 0px 20px 20px;
    }
    
    .form-control-comment{
      margin-bottom: 10px;
    }
  }


  .boxcheck{
    text-align: initial;
    padding-left: 200px;
    .accepted , .remember_me{
      width: 400px;
      color: #666;
    }
    
    .remember_me{
      text-align: start;
      margin-left: 20px;
    }
    
    #user_remember_me{
      margin: 10px 0px 0px;
    }
  }
    
  // 記事投稿のcss

  .users-blog{
    margin-top: 50px;
    a{
      color: #666;
    }

    .flex{
      align-items: baseline;
    }

    .blog-title{
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    
    .content{
      margin-bottom: 30px;  
    }

    .brog-create{
      float:right;
    }

    .user{
      margin-right: 20px;
    }
    .small-avatar{
      border: solid 1px $baseColor;
      margin-right: 10px;
      border-radius: 50%;
      
      img{
        border-radius: 50%;
        width: 35px;
        height: 35px;
      }
    }
  } 

  .comment{
    text-align:center;
    margin-bottom: 20px;
    padding-left: 90px;
  }
  

}


// レスポンシブのcss以上








#app{
 margin-top: 80px;
 .home{
   margin-top:80px;
   text-align: center;
 }
  a{
  color: #444;
  margin-top: 80px;
 }

}





.link{
  color: #666;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:#666;
  }
}

.flex{
  display: flex;
  align-items: flex-end;
  & > h3{
    margin-left: 20px;
  }
}

.my-photo{
  width: 150px;
  height: 150px;
  background-color: $baseColor;
  border-radius: 50%;
  margin: 0px auto 30px;
  box-sizing: border-box;
  position: relative;
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .portrait, label{
    cursor: pointer;
    font-size: 3em;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
  }
  
}


.flash {
  width: 80%;
  margin: 20px auto 40px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  .alert{
    ul{
      list-style: none;
    }
  }
  &__alert{
    background: $color-pink;
  }
  
  &__success{
    background: $color-blue;
  }
  
  &__notice{
    background: $color-blue;
  }
}

a{
  color: #fff;
  text-decoration: none;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


.flex{
  display: flex;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  letter-spacing: 1.5;
}


.contact-new{
  margin-top: 40px;
}


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  width: 80%;
  margin: 45px auto 45px;
  @include box_sizing;
}




//新規登録画面 & ログイン
.signup_title{
  display:flex;  
  justify-content:center;
  margin-top: 50px;
  margin-bottom: 50px;
  h2{
    margin-left: 10px;
  }
}


.password_reset{
  a{
    color: #444;
  }
}

.term-checkbox{
  margin-top: 10px;
  font-weight: bold;
  .accepted{
    margin-left: 20px;
    a{
      color: $color-blue;
    }
  }
}

.privacy-policy{
  letter-spacing: .1em;
  line-height: 1.3em;
  h1{
    margin-bottom: 60px;
  }

  h2{
    text-align: start;
  }

  .last{
    margin-top: 40px;
    text-align: end;
  }

  .message{
    background-color: $baseColor;
    border-radius: 10px;
    padding: 30px;
    
  }
}

.terms{
  .message{
    background-color: $baseColor;
    border-radius: 10px;
    padding: 30px;
    
    a{
      color: $color-blue;
    }

    .last{
      margin-top: 40px;
      text-align: end;
    }
  }
}





.game-home{
  h3{
    margin-bottom: 30px;
  }
  letter-spacing: .1em;
}

.game-nav{
  justify-content: space-around;
  margin-bottom: 100px;
}


.game-menu{
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color:$baseColor;
  cursor: pointer;
}

.menu-typing{
  border: 2px solid $color-pink;
}

.menu-three-quiz{
  border: 2px solid $color-blue;
  background-color: rgba(0,0,0,0.5);
}

#typing-game{
  background-color: $baseColor;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  h1{
    margin-bottom: 50px;
    color: $color-pink;
    // background: -webkit-linear-gradient(45deg, $color-pink, $color-pink);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  .read{
    margin: 0;
    letter-spacing: .1em;
  }

  .spell{
    letter-spacing: .1em;
  }

  h3{
    margin:0 0 50px;
    letter-spacing: .1em;
  }

  .user-score{
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 30px;
    ul{
      list-style: none;
      text-align: start;
      li{
        margin-bottom: 10px;
      }
    }
  }


}

.delete_link, .password_link{
  text-align: end;
  margin: 40px 30px 30px;
}

.delete_link{
  margin-left: auto;
}

.actions{
  margin: 30px auto 30px;
  text-align: center;
  input{
    width: 300px;
    padding: 10px;
    background: #f7c3bf;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: none;
    
  }
}


.external-login{
  margin: 30px auto;
  width: 50%;
  padding: 10px;
  border: solid 1px #888;
  border-radius: 5px;
  text-align: center;
  a{
    color: #666;
  }
}


// logged_in_page

.game{
  color: #666;
  display:flex;
  justify-content:space-between;
  li{
    width: 25%;
    height: auto;
    list-style:none;
    border:3px solid ;
    border-radius: 10px;
    p{
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }
    &:nth-of-type(1){
      border-color:$color-pink;
      padding: 10px;
    }
    &:nth-of-type(2){
      border-color:$color-blue;
      padding: 10px;
      background:#999;
    }
    &:nth-of-type(3){
      border-color:$color-yellow;
      padding: 10px;
      background:#999;
    }
  
  }  
  
}


.middle-avatar{
  margin-bottom: 10px;
  img{
    border-radius: 50%;
  }

}

.tags{
  margin-bottom: 20px;
  ul{
    padding: 0;
  }

  .tag-list{
    padding: 7px;
    margin-right: 5px;
    background-color: $baseColor;
    border-radius: 4px;
  }
}

.user-index{

  margin-top: 80px;
  li{
    margin-bottom: 20px;
    display: flex;
    a{
      margin: 20px;
    }
  }
}

.blog-content{
  h1{
    margin: 30px 0;
  }
}

.blog-index{
  h3{
    margin: 100px 0;
  }

  a{
    color: #666;
  }
  
  .btn-yellow{
    display: block;
    margin-left: auto;
  }

  .search-btn{
    display: block;
    margin-left: 20px;
  }

  .blog{
    padding: 0;
  }

  .btn-blue{
    cursor: pointer;
  }
}


//TOPページのMY情報



.your-blogs{
  margin-top: 40px;
  .blog{
    padding: 0;
  }
}

.new-blog-btn{
  background: $color-yellow;
  font-weight: bold;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.action-btn{
  a{
    color: #fff;
    font-weight: bold;
  }
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin: 30px auto;
}

.edit-icon{
  margin-left: auto;
  a{
    color: #666;
  }
}


.delete-link{
  margin-left: 30px;
  a{
    color: #666;
    cursor: pointer;
    &:hover{
      color:#666;
    }
  } 
}

#like{
  cursor: pointer;
  user-select: none;
}

.like ,.liked{
  padding:10px;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 20px;
  color: #fff;
  a{
    color: #fff;
  }
}


.like{
  background-color: $color-blue;
}

.liked{
  background-color: $color-pink;
}

.el-modal{
  visibility: hidden;

  &__holder{
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background-color: $baseColor;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    .x-icon{
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  &__overlay{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color:rgba(0,0,0,0.75);
  }

  &[aria-hidden=false]{
    visibility: visible;
  }

  .change-avatar, .delete-avatar{
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    width: auto;
    color: #fff;
    cursor: pointer;
  }
  .change-avatar{
    background-color: $color-pink;
    display: block;
  }

  .delete-avatar{
    background-color: $color-blue;
  }

}

.user-list{
  list-style: none;
  a{
    color:#666;
    
  }
}

.btn-outpink{
  border: 1px solid $color-pink;
  background-color: #fff;
  color: #666;
}

