@import "bootstrap-sprockets";
@import "bootstrap";
// @import 'font-awesome-sprockets';
// @import "font-awesome"
@import '@fortawesome/fontawesome-free/scss/fontawesome';

$color-pink: #f7c3bf;
$color-blue: #8ac8cf;
$color-yellow:#f8b500;
$baseColor:#efebe0;



.btn-pink{
  background:$color-pink;
  color:#fff;
  &:hover{
    background:#f59890;
    color:#fff;
  }
}

.btn-blue{
  background:$color-blue;
  color:#fff;
  &:hover{
    background:#5291c4;
    color:#fff;
  }
}

.btn-yellow{
  background:$color-yellow;
  color:#fff;
  &:hover{
    background:#f8c845;
    color:#fff;
  }
}

.logo-title{
  display:flex;
  h1{
    margin-left: 10px;
    // font-family: 'Poppins', sans-serif;
  }
}

.Editlink{
  color: #666;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:#666;
  }
}

.flex{
  display: flex;
  align-items: flex-end;
  & > h3{
    margin-left: 20px;
  }
}




.my-photo{
  width: 150px;
  height: 150px;
  background-color: $baseColor;
  border-radius: 50%;
  margin: 0px auto 30px;
  box-sizing: border-box;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  label{
    cursor: pointer;
    font-size: 3em;
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

}


.flash {
  width: 80%;
  margin: 20px auto 40px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
 .alert{
   ul{
     list-style: none;
   }
 }
  &__alert{
    background: $color-pink;
  }

  &__success{
    background: $color-blue;
  }
  
  &__notice{
    background: $color-blue;
  }
}

a{
  color: #fff;
  text-decoration: none;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}


.flex{
  display: flex;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  letter-spacing: 1.5;
}

header{
    
    .nav-menu{
        display:flex;
        align-items: center;
        // justify-content:space-between;
    }
    
    ul{
      margin-left: auto;
      display:flex;
     li{
        list-style: none;
        margin-left: 20px;
      }
     }
     
     .login_user_menu{
       margin-left: auto;
       a{
         color: #666;
         margin-left: 10px;
       }
     }
      
}


footer{

  margin-top: 100px;
  
  background:$baseColor;
  padding: 40px 0px 30px;
  .footer-contents{
    display:flex;
    justify-content:space-evenly;
    margin-bottom: 90px;
  }
  
  .logo-title{
    margin-bottom: 30px;
  }
  
  .footerCenter, .footerRight{
    p{
      text-align: center;
      margin-bottom:20px;
    }
  }
  
  .copylight{
    margin-top: 30px;
    text-align: center;
    color:#666;
  }
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  width: 80%;
  margin: 45px auto 45px;
  @include box_sizing;
}


body{
  .toppng{
    margin-bottom: 80px;
  }
  
  h2{
    text-align: center;
  }
  
  .top{
    margin-bottom: 30px;
  }
  
  section{
    padding: 60px 30px 60px;
    line-height: 20px;
    &:nth-of-type(2){
      background:$baseColor;
      padding: 80px 30px 80px;
    }
    
  }
  
  
  .blogs{
    display:flex;
    justify-content:space-evenly;
    .Explanation{
      p:first-child{
       text-align: center; 
       font-size: 1.5em;
       margin-bottom: 30px;
      }
      .btn{
        display: block;
        margin-top: 30px;
      }
    }
  }

  .skill{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-evenly;
    .Explanation{
      p:first-child{
       text-align: center; 
       font-size: 1.5em;
       margin-bottom: 30px;
      }
      .btn{
        display: block;
        margin-top: 30px;
      }
    }
  }
  
  
  .introduction{
    text-align: center;
    h2{
      margin-bottom: 30px;
    }
    
    p{
      margin-bottom: 20px;
    }
    .btn{
      width:300px;
      margin-top: 30px;
    }    
    
  }
  
  
}

//新規登録画面 & ログイン
.signup_title{
  display:flex;  
  justify-content:center;
  margin-top: 50px;
  margin-bottom: 50px;
  h2{
    margin-left: 10px;
  }
}

.field{
  justify-content:center;
  display:flex;
  label{
    width: 160px;
    height: 34px;
    font-size: 16px;
    text-align: end;
    line-height: 34px;
  }
  
  .form-control{
    width: 400px;
    margin: 0px 20px 20px;
  }
  
  .form-control-comment{
    margin-bottom: 10px;
  }
}

.boxcheck{
  padding-left: 110px;
    .accepted , .remember_me{
    width: 320px;
    margin-left: 10px;
    color: #666;
  }
  
  .remember_me{
    text-align: start;
  }
  
  #user_accepted , #user_remember_me{
    margin: 10px 0px 0px;
  }
}

.comment{
  text-align:center;
  margin-bottom: 20px;
  padding-left: 90px;
}

.delete_link, .password_link{
  text-align: end;
  margin: 40px 30px 30px;
}

.delete_link{
  margin-left: auto;
}

.actions{
  margin: 30px auto 30px;
  text-align: center;
  input{
    width: 300px;
    padding: 10px;
    background: #f7c3bf;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    border: none;
    
  }
}


.external-login{
  margin: 30px auto;
  width: 50%;
  padding: 10px;
  border: solid 1px #888;
  border-radius: 5px;
  text-align: center;
  a{
    color: #666;
  }
}


// logged_in_page

.game{
  color: #666;
  display:flex;
  justify-content:space-between;
  li{
    width: 25%;
    height: auto;
    list-style:none;
    border:3px solid ;
    border-radius: 10px;
    p{
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
    }
    &:nth-of-type(1){
      border-color:$color-pink;
      padding: 10px;
    }
    &:nth-of-type(2){
      border-color:$color-blue;
      padding: 10px;
      background:#999;
    }
    &:nth-of-type(3){
      border-color:$color-yellow;
      padding: 10px;
      background:#999;
    }
  
  }  
  
}
// 記事投稿のcss

.users-blog{
  margin-top: 50px;
  a{
    color: #666;
  }

  .blog-title{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .content{
    margin-bottom: 30px;  
  }

  .brog-create{
    float:right;
  }

  .user{
    margin-right: 20px;
  }
  
}

.blog-content{
  h1{
    margin: 30px 0;
  }
}

.blog-index{
  h3{
    margin: 100px 0;
  }

  a{
    color: #666;
  }
}


//TOPページのMY情報

#my-info{
  border: 1px solid $baseColor;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .img-name{
    text-align: center;


    p{
      margin-top: 20px;
      font-size: 20px;
      a{
        color: #666;
      }
    }
  }

  .my-action{
    div{
      padding: 10px;
      width: 200px;
      margin-bottom: 20px;
      border-radius: 5px;

      a{
        color: #fff;
        display: block;
        text-align: center;
        text-decoration: none;
      }
    }

    .my-page{
      background-color: $color-pink;
    }

    .my-game{
      background-color: $color-blue;
    }

    .new-blog{
      background-color: $color-yellow;
    }

  }

}
.new-blog-btn{
  background: $color-yellow;
  font-weight: bold;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.action-btn{
  a{
    color: #fff;
    font-weight: bold;
  }
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  margin: 30px auto;
}

.edit-icon{
  margin-left: auto;

}


.delete-link{
  margin-left: 30px;
  a{
    color: #666;
    cursor: pointer;
    &:hover{
      color:#666;
    }
  } 
}

#like{
  cursor: pointer;
  user-select: none;
}

.like ,.liked{
  padding:10px;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 20px;
  color: #fff;
  a{
    color: #fff;
  }
}


.like{
  background-color: $color-blue;
}

.liked{
  background-color: $color-pink;
}

.el-modal{
  visibility: hidden;

  &__holder{
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    background-color: #fff;
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }
  &__overlay{
    position: absolute;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }

  &[aria-hidden=false]{
    visibility: visible;
  }
}