<p>こんにちわ <%= @resource.email %>!</p>

<p>パスワードリセットの申請を受け付けました。<br>パスワードリセットをご希望の場合は下記より新しいパスワードをご登録ください。</p>

<p><%= link_to 'パスワードをリセット', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが
<br>破棄して頂けますよう、よろしくお願い致します</p>
<p>上記のリンクから新しいパスワードを作成するまで、パスワードは変更されません</p>
