  <footer>
    <div class="footer-contents">
      <div class="footerLeft">
        <div class="logo-title">
          <%= image_tag 'logo2.png' %>
          <h1><%= link_to "With Nurse", root_path , class: "Editlink"%></h1>
        </div>
        
        <p>ナース専用のソーシャルメディアサービスです</p>
        <p>あなただけの看護を発信しませんか？</p>
      </div>
      
      <div class="footerCenter">
        <p>メニュー</p>
        <ul>
          <li>記事一覧TOP</li>
          <li>ゲーム一覧</li>
          <li><%= link_to "ヘルプ", help_path , class: "Editlink" %></li>
          <li><%= link_to "With Nurseについて" , about_path , class: "Editlink" %></li>
        </ul>
      </div>
      
      <div class="footerRight">
        <p>ご利用にあたって</p>
        <ul>
          <li>利用規約</li>
          <li>プライバシーポリシー</li>
        </ul>
      </div>
    </div>
    
    <p class="copylight">Copylight © 2021 withnurse.com. All Rights Reserved.</p>
  </footer>