  <header>
    <div class="container">
      <nav class="nav-menu">
        <div class="logo-title">
          <%= link_to image_tag("logo2.png",alt: "With Nurse logo" ,width: "80px"), root_path %>
          <h1><%= link_to "With Nurse", root_path , class: "Editlink"%></h1>
        </div>
        <ul>
          <li><%= link_to "ログイン", '#', class: "nav-link btn btn btn-pink" %></li>
          <li><%= link_to '無料会員登録' , '#', class: "nav-link btn btn btn-blue"%></li>
        </ul> 
        
      </nav>
    </div>
  </header>