  <header>
    <div class="container">
      <nav class="nav-menu">
        <div class="logo-title">
          <%= link_to image_tag("logo2.png",alt: "With Nurse logo"), root_path %>
          <h1><%= link_to "With Nurse", root_path , class: "link"%></h1>
        </div>
        
      </nav>
    </div>
  </header>